<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 ppanel">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-3x"></i></h3>
                  <h2 class="text-center">New Password</h2>
                  <p>You can enter new password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" #newPasswordform="ngForm"  role="form" (ngSubmit)="changePassword()" autocomplete="off" class="form">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class=" color-blue"></i></span>
                          <input id="newpassword" name="newpassword" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$%]).{8,20})" #newpassword="ngModel" required [(ngModel)]="user.newpassword" placeholder="Enter New Password" class="form-control"  type="password">
                          
                        </div>
                        <span *ngIf="((newpassword.invalid && newPasswordform.submitted) || (newpassword.errors && newpassword.touched))">
                            <span class='fa fa-info-circle errspan' *ngIf="newpassword.errors.required"> Password is required</span>
                            <span class='fa fa-info-circle errspan' *ngIf="newpassword.errors.pattern"> Password must be 8-20 characters and have at least one uppercase letter, one lowercase letter, one special character(@,$,% are allowed) and one number</span>
                          </span>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class=" color-blue"></i></span>
                          <input id="verifypassword" name="verifypassword" (blur)="varifyPassword(user.verifypassword)" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$%]).{8,20})" #verifypassword="ngModel" required [(ngModel)]="user.verifypassword" placeholder="Verify Password" class="form-control"  type="password">
                          
                        </div>
                        <span *ngIf="((verifypassword.invalid && newPasswordform.submitted) || (verifypassword.errors && verifypassword.touched))">
                            <span class='fa fa-info-circle errspan' *ngIf="verifypassword.errors.required"> Password is required</span>
                            <span class='fa fa-info-circle errspan' *ngIf="verifypassword.errors.pattern"> Password must be 8-20 characters and have at least one uppercase letter, one lowercase letter, one special character(@,$,% are allowed) and one number</span>
                          </span>
                          <span class='fa fa-info-circle errspan' *ngIf="isValid == false"> Password not matched</span>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" nbButton  hero value="Save" type="submit">
                      </div>
                      
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>